@import '../../vars';

.main {
  font-family: $inter;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $light-blue;
  min-height: calc(100vh - 80px);
}

.list {
  list-style: none;
  padding: 0;
  margin: 26px auto;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.pag {
  margin-bottom: 20px;
}