@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:wght@400;500&display=swap');
$inter: 'Inter', sans-serif;
$roboto: 'Roboto', sans-serif;
$white: #fff;
$black85: rgba(0, 0, 0, 0.85);
$black75: rgba(0, 0, 0, 0.75);
$black50: rgba(0, 0, 0, 0.5);
$btn-green: #52c41a;
$btn-blue: #1890ff;
$light-grey: #e8e8e8;
$text-blue: #1890ff;
$light-blue: #ebeef3;
$agree: #595959;
$grey-9: #262626;
$grey-8: #595959;
$grey-5: #d9d9d9;
$grey-6: #bfbfbf;
$grey-7: #8c8c8c;
$error: #f5222d;